//theme colors
$bgcolor:#efe4f0;

//greyscales
$grey0:grayscale(0%);
$grey50:grayscale(50%);
$grey100:grayscale(100%);

//buttons colors
$shadow: rgba(0,0,0,0.3);

$color1:red;
$color2:blue;
$color3:yellow;
$color4:green;
$color5:purple;
$color6:orange;
$color7:lime;
$color8:pink;
