//global
    //greyscales
    $grey0:grayscale(0%);
    $grey50:grayscale(50%);
    $grey100:grayscale(100%);

//welcome theme
    //colors
    $uniBack :rgb(214,174,123);
    $gradientBack:linear-gradient(90deg, rgba(214,174,123,1) 0%, rgba(214,156,123,1) 100%);
    $highlight:#d90635;

    //font-families
    $fontStart:'Press Start 2P', cursive;
    $fontGoldman:'Goldman', cursive;

//Vapor theme
    //colors
    $bgcolor:#efe4f0;

    //buttons colors
    $shadow: rgba(0,0,0,0.3);

    $color1:red;
    $color2:blue;
    $color3:yellow;
    $color4:green;
    $color5:purple;
    $color6:orange;
    $color7:lime;
    $color8:pink;
