

body{
    background: $bgcolor;
}

// .board{
//     margin-top:40px;
// }

.container {
    --d: 6.5em; /* image size */
    --rel: 1; /* how much extra space we want between images, 1 = one image size */
    --r: calc(.5*(1 + var(--rel))*var(--d)/var(--tan)); /* circle radius */
    --s: calc(2*var(--r) + var(--d)); /* container size */
    position: relative;
    width: var(--s); height: var(--s);  
    margin:0 auto;
}
  
.container{
    touche-simon {
        position: absolute;
        top: 50%; left: 50%;
        margin: calc(-.5*var(--d));
        width: var(--d); height: var(--d);
        --az: calc(var(--i)*1turn/var(--m));
        transform: 
            rotate(var(--az)) 
            translate(var(--r))
            rotate(calc(-1*var(--az)))
    }  
} 

.touche-img {
width: 100px;
height: 100px;
text-align: center;
padding:6px;
border-radius: 50%;
box-sizing: border-box;
box-shadow: 0 10px 15px $shadow;
background: linear-gradient(0deg,#ddd,#fff);
transition: .5s;
animation-name: flip_animation;
animation-duration: 2s;
filter: $grey100;

    &:hover {
        box-shadow:0px 0px 40px -5px $shadow;
        cursor: pointer;
        filter: $grey0;
    }

    // &:active{
    //     box-shadow:0px 0px 40px -5px $shadow;  
    //     transform: scale(0.9);
    //     transition-timing-function: ease;    
    // }
}

.touche-active{
    filter: $grey0;
    box-shadow:0px 0px 40px -5px $shadow;  
    transform: scale(0.9);
    transition-timing-function: ease;    
}

#canvas{
    height: 100%;
    position: fixed;
    width: 100%;
}

// #test3{
//     position: absolute; 
//     width:280px;
//     height:280px;
//     background:linear-gradient(
//         to bottom left, 
//         transparent  calc(50% - 1px), 
//         black        calc(50% - 1px), 
//         black        calc(50% + 1px) , 
//         transparent  calc(50% + 1px) 
//       );  
// }
