.fluid-ori{
    position: absolute;
    background-image:url("../images/70background.png");
    z-index: -1000;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.gamebox-style{
    z-index: -1;
    position:absolute;
    background-color:$gameBox;
    border: $mBlack;
    border-radius: 10px;
    width:30%;
    height:90%;
    top:5%;
    left:35%;
}

#game-title{
    font-family: $pixel;
    font-size:50px;
    margin: 15% 0 0 7%;
}

#score-container1{   
    // position: relative!important; 
    background-color:$scoreContainer;
    border: $mBlack;
    border-radius: 2px;
    width: 75%;
    height:130px;
    margin: 3% -65% 0 12%;
    color:$score;
    font-family: $pixel;
    font-size: 40px;

    #score1{
        margin:10% 0 0 45%;
    }
}

#board1{
    background-color:#e0e0e0;      
    border-radius: 2px;
    width: 75%;
    height:370px;
    border:$mBlack;
    margin: 3% 0 0 12%;
}

#first-btn-container{
    width: 95%;
    display:flex;
    justify-content:center;
    margin:15px 0 0 0;
}

#touches-container{
    background-color: black;
    background-image: url("../images/board-background2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border:$lBlack;
    border-radius: 25px;
    margin-left:30px;
    margin-top:20px;
    width:83%;
    height:240px;
}

.led{
    position:relative;
    width:20px;
    height:20px;
    border-radius:50%;
    border:$mBlack;
    background-color: $ledOff;
}

#led1{
    margin:1% 0 0 3%;
}

#led2{
    margin:-7% 0 0 90%;
}
#led3{
    margin:59% 0 0 3%;
}
#led4{
    margin:-7% 0 0 90%;
}

.switch {
    background-color:black;
    border-radius: 7px;
    margin-top:5px;
    margin-left:50px;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 15px;
}

.switch2 {
    margin-left:150px;  
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    top:0px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    border:$sWhite;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color:black;
}

input:focus + .slider {
    box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
    // -webkit-transform: translateX(26px);
    // -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
} 

.switch-txt{
    font-family: $roboto;
    font-size:12px;
    font-weight: 900;
    color:black;
}

#switch1-txt{
    margin-left:55px;
}

#switch2-txt{
    margin-left:160px;
}

touch-touches{
    z-index: 7;
    position: absolute;
    border: $sBlack;
    border-radius: 10px;
    width:15%;
    height: 45px;   
}

#touche0{
    background-color: blue;
    top: 60%; left:30%;

    &:hover{
        background-color: rgb(59, 59, 243);
        transition: 0.3s ease;
    }
}

#touche1{
    background-color: yellow;
    top: 60%; left:52%;

    &:hover{
        background-color:  rgb(247, 247, 83);
        transition: 0.3s ease;
    }
}

#touche2{
    background-color: red;
    top: 72%; left:30%;

    &:hover{
        background-color:rgb(243, 75, 75);
        transition: 0.3s ease;
    }
}

#touche3{
    background-color: green;
    top: 72%; left:52%;

    &:hover{
        background-color: rgb(54, 148, 54);
        transition: 0.3s ease;
    }
}

.touche-active{
    border: $xlBlack;
    transition: 0.3s ease;
}

